<article class="home-article">
  <div nz-row nzType="flex" nzJustify="space-between">

    <div nz-col nzSpan="16">
      <a [routerLink]="['/articles/' + article._id.split('/')[3]]">
        <h2 nz-title>
          {{ article.headline.main }}
        </h2>

        <span>
          {{ article.pub_date | date:'longDate' }}
        </span>

        <p>
          {{ article.abstract }}
        </p>

        <span>
          {{ article.byline.original }}
        </span>
      </a>
    </div>

    <div class="home-article-thumb"nz-col nzSpan="8">
      <img *ngIf="article.multimedia[0]" [src]="'https://static01.nyt.com/' + article.multimedia[0].url" width="250" style="border-radius: 4px">
    </div>
  </div>
</article>
