.home-article {
  margin-bottom: 48px;
  padding: 16px 0;
  border-bottom: 1px solid #EEEEEE;

  p {
    color: #444444;
    margin: 16px 0;
  }

  span {
    color: #444444;
    font-weight: bold;
  }

  .home-article-thumb {
    text-align: right;
  }
}
