.home-top {
  margin: 16px 0 16px 0;
  background: #FFFFFF;
  padding: 24px;
  border-radius: 4px;
}

.home-more {
  text-align: center;
}

.home-content {
  min-height: 100%;
  padding: 24px;
  border-radius: 4px;
  margin-bottom: 48px;
  background: #FFFFFF;
  overflow-x: hidden;
}

